<section class="padding-y mt-2 mb-5">
    <div class="container">

        <div class="card">
            <div class="tracking-wrap">
                <div class="step active">
                    <span class="icon">
                        <i class="fa fa-location-arrow"></i>
                    </span>
                    <span class="text"> Carrinho</span>
                </div>
                <div class="step active">
                    <span class="icon">
                        <i class="fa fa-credit-card"></i>
                    </span>
                    <span class="text"> Pagamento </span>
                </div>
                <div class="step active">
                    <span class="icon">
                        <i class="fa fa-check-square"></i>
                    </span>
                    <span class="text"> Confirmação</span>
                </div>
            </div>
            <article class="card-body">
                <header class="mb-4">
                    <h4 class="card-title">Pedido concluído com sucesso!</h4>
                </header>
                <div class="row">
                  <div class="col-md-6" *ngFor="let item of order?.orderItems">
                      <figure class="itemside  mb-3">
                          <div class="aside">
                              <img src="assets/images/{{item?.image}}" alt="{{item?.image}}" class="border img-xs">
                          </div>
                          <figcaption class="info">
                              <p>
                                  <b>{{item?.name}}</b>
                              </p>
                              <span> </span>
                          </figcaption>
                      </figure>
                  </div>
                </div>
            </article>

            <header class="card-header">
                <h3 class="d-inline-block mr-3">Pedido número: #{{order?.code}}</h3>
            </header>
            <article class="card-body border-top">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h6 class="text-muted">Entregar em: {{address?.completAddress}}</h6>
                            <p>

                            </p>
                        </div>
                        <div class="col-md-4">
                            <h6 class="text-muted">Pagamento</h6>
                            <span class="text-success">
                                <i class="fas fa-credit-card"></i>
                                Transação em cartão de crédito
                            </span>
                            <p>
                                <span class="b">Total: {{order?.valuetotal}} </span>
                            </p>
                        </div>
                    </div>

                </div>
            </article>

            <div class="card-body border-top">
                <div class="text-left">
                    <a [routerLink]="['/meus-pedidos']" class="btn btn-primary float-md-right"> Meus Pedidos <i class="fa fa-chevron-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</section>
