<!-- Login -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top:100px">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Entre com sua conta</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Identity" asp-action="Login" method="post">                
                <div class="modal-body mx-3">

                    <small class="text-danger error-login">@TempData["error"]</small>

                    <div class="md-form">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input name="email" type="email" id="defaultForm-email" class="form-control validate" placeholder="Seu email">
                    </div>

                    <div class="md-form">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input name="password" type="password" id="defaultForm-pass" class="form-control validate" placeholder="Sua senha">
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default" type="submit">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
