<style>
    .fa-magnifying-glass{
        float: right !important;
        top: 25px !important;
        left: -8px !important;
        position: relative !important;
    }
</style>

<!-- Login -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top:100px">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Entre com sua conta</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Identity" asp-action="Login" method="post">
                <div class="modal-body mx-3">

                    <small class="text-danger error-login">@TempData["error"]</small>

                    <div class="md-form">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input name="email" type="email" id="defaultForm-email" class="form-control validate" placeholder="Seu email">
                    </div>

                    <div class="md-form">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input name="password" type="password" id="defaultForm-pass" class="form-control validate" placeholder="Sua senha">
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default" type="submit">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Register Address-->
<div class="modal fade" id="registerModal" tabindex="999999" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registre um endereço para entrega</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Digite o cep:</label>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" class="form-control" id="cepRegister" placeholder="00000-000" maxlength="8" onkeyup="registerModal(this.value)">
                    </div>
                    <div class="showRegister" style="display:none;">

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Endereço</label>
                            <input type="text" class="form-control" id="addressModal" placeholder="Digite seu endereço">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Complemento</label>
                            <input type="text" class="form-control" id="complementModal" placeholder="Digite seu complemento">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Bairro</label>
                            <input type="text" class="form-control" id="neighborhoodModal" placeholder="Digite seu bairro">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Cidade</label>
                            <input type="text" class="form-control" id="cityModal" placeholder="Digite sua cidade">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Estado</label>
                            <input type="text" class="form-control" id="stateModal" placeholder="Digite seu estado">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Numero</label>
                            <input type="text" class="form-control" id="numberModal" placeholder="Digite seu número">
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary editModal">Editar cep</button>
                <button type="button" class="btn btn-primary sendRegister">Registrar endereço</button>
            </div>
        </div>
    </div>
</div>