@model NS.WebMVC.Models.OrderTransactionViewModel

<section class="padding-y mb-5">
    <div class="container">

        <div class="card">
            <div class="tracking-wrap">
                <div class="step active">
                    <span class="icon">
                        <i class="fa fa-location-arrow"></i>
                    </span>
                    <span class="text"> Endereço</span>
                </div>
                <div class="step active">
                    <span class="icon">
                        <i class="fa fa-credit-card"></i>
                    </span>
                    <span class="text"> Pagamento </span>
                </div>
                <div class="step">
                    <span class="icon">
                        <i class="fa fa-check-square"></i>
                    </span>
                    <span class="text"> Confirmação</span>
                </div>
            </div>

            <vc:Summary></vc:Summary>

            <article class="card-body">
                <header class="mb-4">
                    <h4 class="card-title">Seu pedido</h4>
                </header>
                <div class="row">

                    <div class="card border-success">
                        <div class="card-body">

                            <small>Total Pedido:</small> <small class="text-success">@this.FormatCoin(Model.ValueTotal)</small>

                            <small class="ml-5">Vouche Usado:</small> <small class="@(string.IsNullOrEmpty(Model.VoucherCode) ? "text-danger" : "text-success")"> @(Model?.VoucherCode ?? "Nenhum")</small>

                            <small class="ml-5">Desconto: </small> <small class="text-success"> @this.FormatCoin(Model.Discount)</small>

                        </div>
                    </div>

                </div>
            </article>

            <form asp-action="FinishOrder" asp-controller="Order">
                <article class="card-body border-top">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="CardName"></label>
                                    <input asp-for="CardName" class="form-control" placeholder="Digite igual está no cartão"/>
                                    <span asp-validation-for="CardName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="CardNumber"></label>
                                    <div class="input-group">
                                        <input asp-for="CardNumber" class="form-control" maxlength="16" placeholder="Número do Cartão"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fab fa-cc-visa"></i> &nbsp; <i class="fab fa-cc-amex"></i> &nbsp;
                                                <i class="fab fa-cc-mastercard"></i>
                                            </span>
                                        </div>
                                        <span asp-validation-for="CardName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div>
                                    <label asp-for="CardExpiration"></label>
                                    <div class="form-inline">
                                        <input asp-for="CardExpiration" class="form-control dateCard w-25" />
                                        <span asp-validation-for="CardExpiration" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">                                
                                <div>
                                    <label asp-for="CvvCard"></label> 
                                    <div class="form-inline">
                                        <input asp-for="CvvCard" class="form-control w-25" maxlength="4" />
                                        <span asp-validation-for="CvvCard" class="text-danger"></span>
                                    </div>
                                </div>
                                <spam class="tooltipOrder" data-toggle="tooltip" title="Os 3 dígitos informados atrás do seu cartão" data-original-title="Os 3 dígitos informados atrás do seu cartão">
                                    <i class="fa fa-question-circle"></i>
                                </spam>
                            </div>
                        </div>

                    </div>
                </article>

                <div class="card-body border-top">
                    <div class="text-left">
                        <button type="submit" class="btn btn-primary float-md-right"> Finalizar Pedido <i class="fa fa-chevron-right"></i> </button>
                    </div>

                    <a class="btn btn-light" asp-action="Index" asp-controller="Cart"> <i class="fa fa-chevron-left"></i> Voltar ao Carrinho </a>
                </div>
            </form>
        </div>
    </div>
</section>

@section scripts{

    <script>
        (function($) {
            $('[data-toggle="tooltip"]').tooltip();
            $('.dateCard').mask("00/00", {placeholder: "__/__"});
            
            var wrapMenu = $('.wrap-menu-desktop');
            $(wrapMenu).css('top',0); 
            
        }(jQuery));
    </script>

}